body{

    font-family:Arial, Helvetica, sans-serif;
}
ul{
list-style-type : none;
}
button:hover{
    background-color: green;
    color: white;
    
}

.arklogo{
    background-repeat: no-repeat;
    margin: -5px 10px;
    cursor: pointer;
    margin-left: 190px;
}

.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100% ;
    height: 90px;
    top:-8px;
    background-color: white;
    opacity: 0.8;
    
    
    
    
}

.navbar-list{
    display:flex;
    margin: 20px 60px;
    cursor: pointer;
    position: sticky;
    


    
}
.listnav{
    /* margin: 0px 10px ; */
    /* border: 1px solid black; */
    margin: 15px 10px;   
    padding: 5px;
    border-radius: 3px;
    

}


.listnav:hover{
    color: red;
    opacity: 0.8;
    transition: 0.2s;
}

.backgroundimg{
    background-image:url(images/billboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    Width:100%;
    background-position: center;
    margin-top: -125px;
    
}

.bottom-nev{
    display:flex;
    justify-content: space-between;
    background-color: white;
    opacity: 0.8;
    position:absolute;
    bottom:-6px;
    width: 100%;

}

.bottom-nev-h3{
    margin-left: 45px;
    margin-bottom: 15px;
    
}

.bottom-button-click{
    background-color: aqua;
    color: white;
    border: 1px solid aqua;
    margin: 12px 30px;
    padding: 8px 8px;
    cursor:pointer;    
}
.template-center-head{
    margin-top: 100px;
}
.template-center{
    background-color: transparent;
}


.template-center-h1{
    text-align: center;
   

}
.separtorimg{
    margin-left: 405px;
    width: 45%;
}
.template-center-grid{
    display: grid;
    
    grid-gap:0px 15px;
    display: inline grid;
    
    
    grid-template-columns: auto auto auto;
    text-align: center;
    
}

.s1, .s2, .s3{
    border: 1px solid black;
    margin-bottom: 205px;
    margin-top: 10px;
    padding-top: 55px;
}

.s1{
    margin-left: 325px;
}
.s3{
    margin-right: 325px;
}
.s1:hover{
    opacity: 0.6;
    cursor: pointer;
}
.s2:hover{
    opacity: 0.6;
    cursor: pointer;
}
.s3:hover{
    opacity: 0.6;
    cursor: pointer;
}