
ul{
list-style-type : none;
}
button:hover{
    background-color: green;
    color: white;
    
}

.arklogo{
    background-repeat: no-repeat;
    margin: 10px 10px;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100% ;
    top:0px;
    background-color: white;
    opacity: 0.8;
    
    
    
    
}

.navbar-list{
    display:flex;
    margin: 30px 10px;
    cursor: pointer;
    position: sticky;
    


    
}
.listnav{
    /* margin: 0px 10px ; */
    /* border: 1px solid black; */
    margin: 0px 10px;   
    padding: 5px;
    border-radius: 3px;
    

}


.listnav:hover{
    color: red;
    transition: 0.5s;
}

.backgroundimg{
    background-image:url(images/billboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    Width:100%;
    background-position: center;
    margin-top: 115px;
    

  
    
}